<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

An integer is a round number with no values after the decimal point.

In [ ]:
customString = 'String perzonalizada 1'
customString2 = 'String perzonalizada 2'
print(customString + ' ' + customString2)

String perzonalizada 1 String perzonalizada 2

In [ ]:
integer = 1998
print(integer)
print(type(integer))

1998
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
strings = "1998"
print(type(strings))
ints = int(strings)
print(type(ints))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
strings = "100"
floats = float(strings)
print(type(floats))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
boolean = True
print(boolean)
print(type(boolean))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("suma ", 1998+1)
print("resta ", 1998-1)
print("suma sucesiva ", 1998*2)
print("resta sucesiva ", 1998/2)
print('multiplicacion por si mismo sucesiva', 1998**2)

suma  1999
resta  1997
suma sucesiva  3996
resta sucesiva  999.0
multiplicacion por si mismo sucesiva 3992004

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print((9*3)/2)
print(1998-2)

13.5
1996

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['1st item', '2nd item', '3rd item']
print(my_list)

['1st item', '2nd item', '3rd item']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['uno', 'dos', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -4])

5
uno
dos

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['uno','dos',1,2,3]
my_list[2] = 'three'
print(my_list)

['uno', 'dos', 'three', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['uno','dos',1,2,3]
print(my_list[0:2])
print(my_list[2:5])

['uno', 'dos']
[1, 2, 3]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print('lo hice en el ejemplo de arriba')
print(my_list[0:2])
print(my_list[2:5])

lo hice en el ejemplo de arriba
['uno', 'dos']
[1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:4])

['uno', 'dos', 1, 2]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'There']
my_list.append('General Kenobi')
print(my_list)

['Hello', 'There', 'General Kenobi']

In [ ]:
my_list.remove('Hello')
print(my_list)

['There', 'General Kenobi']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Personal','Coding','Examples')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Personal','Coding','Examples')
print(my_tuple[1:])

('Coding', 'Examples')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['apple','banana','pineapple','apple','banana','banana','avocado','pineapple']
stock_set = set(stock_list)
print(stock_set)

{'pineapple', 'apple', 'banana', 'avocado'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'english':'england', 'spanish':'spain', 'french':'france'}

In [ ]:
print(my_dic['english'])

england

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['english'] = 'London, England'
print(my_dic['english'])

London, England

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['english', 'spanish', 'french'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'joe momma has ligma'
print(my_str[8:])

a has ligma

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('tres tristes tigres tragaban trigo en un trigal'.count('t'))
print('tres tristes tigres tragaban trigo en un trigal'.find('a'))
print('tres tristes tigres tragaban trigo en un trigal'.replace('a','e'))

7
22
tres tristes tigres tregeben trigo en un trigel

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2022-04-23 12:30:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print('when is my next birthday?')
print(date)

2022-04-23 12:30:00
when is my next birthday?
2022-04-23

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('05','37')
print(my_time)

Hour: 05, Minute:37

Another way to format a string is to use the % symbol.

In [ ]:
print('the e number is %f'%2.71)
print('%s to %s'%('i went','canada'))

the e number is 2.710000
i went to canada

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print('one' == 'uno')
print('one' == 'one')
print('one' != 'uno')
print(15 >= 15)
print(15 >= 16)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(20 > 10 and 30 > 20)
print(20 > 10 and 30 < 20) 
print(20 > 10 or 30 < 20)
print(20 < 10 and 30 < 20)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((35 > 5 or 15 < 35) and (15!=35 and 45>35) and not ( 35 < 25 or 15 < 35 and (15!=35 and 45>35)))
print(35 > 25 or 15 < 35 and (15!=35 and 45>35) and not ( 35 < 25 or 15 < 35 and (15!=35 and 45>35)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 156 > 56
q = 256 > 56
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 0.5

0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in ['uno','dos','tres','cuatro','imposter']:
    print(i)

uno
dos
tres
cuatro
imposter

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['uno','dos','tres','cuatro','cinco']
selected = ['uno','tres']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['uno', 'dos', 'tres', 'cuatro', 'cinco']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['uno','dos','tres','cuatro','cinco']
for i in stocks:
    print(i)
    if i == 'tres':
        break

uno
dos
tres

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['uno','dos','tres','cuatro','cinco']
for i in stocks:
    if i == 'dos':
        continue
    print(i)

uno
tres
cuatro
cinco

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
cubes = []
for i in [1,2,3,4,5]:
    cubes.append(i**3)
print(cubes)

[1, 8, 27, 64, 125]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
cubes = [x**3 for x in list]
print(cubes)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['uno','dos','tres','cuatro','cinco']
selected = ['uno','tres']
new_list = [x for x in stocks if x in selected]
print(new_list)

['uno', 'tres']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in ['uno','dos','tres'] for y in ['tres','uno','five'] if x != y])
print([str(x)+' vs '+str(y) for x in ['apple','pear','mango','banana'] for y in ['kiwi','pineapple','avocado','strawberry'] if x!=y])

[('uno', 'tres'), ('uno', 'five'), ('dos', 'tres'), ('dos', 'uno'), ('dos', 'five'), ('tres', 'uno'), ('tres', 'five')]
['apple vs kiwi', 'apple vs pineapple', 'apple vs avocado', 'apple vs strawberry', 'pear vs kiwi', 'pear vs pineapple', 'pear vs avocado', 'pear vs strawberry', 'mango vs kiwi', 'mango vs pineapple', 'mango vs avocado', 'mango vs strawberry', 'banana vs kiwi', 'banana vs pineapple', 'banana vs avocado', 'banana vs strawberry']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def multiplicar(x,y):
    return x*y
print(multiplicar(2,3))
print(multiplicar(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_bye():
    print('goodbye!')
say_bye()

goodbye!

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
fruits = ['apple','pear','mango','banana']
print('The length of fruits is {}'.format(len(fruits)))
for i in range(len(fruits)):
    print(fruits[i])

The length of fruits is 4
apple
pear
mango
banana

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
print(list)
del list
list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list

In [ ]:
fruits = ['apple','pear','mango','banana']
list(map(len,fruits))

[5, 4, 5, 6]

In [ ]:
fruits = ['apple','pear','mango','banana']
print(list(map(len,fruits)))

[5, 4, 5, 6]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x+2, range(8)))

[2, 3, 4, 5, 6, 7, 8, 9]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x-y, [1,2,3,4,5],[10,9,8,7,6]))

[-9, -7, -5, -3, -1]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1,9,25,1998,13548967])

[1, 2, 3, 4, 5, 9, 25, 1998, 13548967]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('apple',1250),('pineapple',10000),('avocado',4000),('kiwi',380),('banana',1200)]
sorted(price_list, key = lambda x: x[1]) #we can sort fruit prices from low to high

[('kiwi', 380),
 ('banana', 1200),
 ('apple', 1250),
 ('avocado', 4000),
 ('pineapple', 10000)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('apple',1250),('pineapple',10000),('avocado',4000),('kiwi',380),('banana',1200)]
sorted(price_list, key = lambda x: x[1],reverse = True) #using the 'reverse=true' we can sort the fruit by price from high to low

[('pineapple', 10000),
 ('avocado', 4000),
 ('apple', 1250),
 ('banana', 1200),
 ('kiwi', 380)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('apple',1250),('pineapple',10000),('avocado',4000),('kiwi',380),('banana',1200)]
price_list.sort(key = lambda x: x[1])
print(price_list) #here wwe print the new list because the list.sort() does NOT return a list, so we have to return it manually

[('kiwi', 380), ('banana', 1200), ('apple', 1250), ('avocado', 4000), ('pineapple', 10000)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class fruit:
    def __init__(self, name, Yprice, Tprice):
        self.name = name
        self.Yprice = Yprice
        self.Tprice = Tprice
        self.rate_return = float(Yprice)/Tprice
 #fruits with name, yesterday's price & today's price
    def update(self, Yprice, Tprice):
        self.Yprice = Yprice
        self.Tprice = Tprice
        self.rate_return = float(Yprice)/Tprice
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = fruit('apple',850,950)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.Yprice
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.0006573181419806673
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.colour = 'red'
apple.colour
#adding the colour attribute to the fruit

'red'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)
#literally just re-ran the thing

['Tprice',
 'Yprice',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'colour',
 'name',
 'print_return',
 'rate_return',
 'update']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(fruit):
    def __init__(self,name):
        self.name = name
        #ok now i am creating a child class for fruits because theres diffrernt kinds of the same fruit like hass & lorena avocados

In [ ]:
royal_apple = child(apple)
print(royal_apple.name)
royal_apple.update(850,890)
print(royal_apple.Yprice)
print(royal_apple.Tprice)
print(royal_apple.print_return())
#filling all the data on royal apple

<__main__.fruit object at 0x7f3a993d1690>
850
890
0.9550561797752809
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [2]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [4]:
price_list = [850.0, 856.83, 900.68, 842.02, 810.5, 725.62]
price_array = np.array(price_list)
print(price_array, type(price_array))
#changed the price list to a made up price of an apple at the supermarket

[850.   856.83 900.68 842.02 810.5  725.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [6]:
Ar = np.array([['apples',3],['avocados',2],['bananas',3],['guavas',1]])
print(Ar, type(Ar))
#changed the list of lists to how many kinds of a single fruit are availlable

[['apples' '3']
 ['avocados' '2']
 ['bananas' '3']
 ['guavas' '1']] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [7]:
print(Ar.shape)
#just re-run

(4, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [9]:
print(Ar[1])
print(Ar[2])
#re-run

['avocados' '2']
['bananas' '3']

If we want to access the matrix by column instead:

In [12]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])
#re-run

the first column:  ['apples' 'avocados' 'bananas' 'guavas']
the second column:  ['3' '2' '3' '1']

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [14]:
print(np.sqrt(price_array))
#changed it to show the square root 'sqrt'

[29.15475947 29.27165865 30.01133119 29.01758088 28.46928169 26.93733469]

Other functions return a single value:

In [16]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

830.9416666666666
54.05260660278609
4985.65
900.68

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [17]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [20]:
prices = [850.0, 856.83, 900.68, 842.02, 810.5, 725.62]
s = pd.Series(prices)
s
#imported the same fruit prices from numpy section, you know, for concistency

0    850.00
1    856.83
2    900.68
3    842.02
4    810.50
5    725.62
dtype: float64

We can customize the indices of a new Series:

In [21]:
s = pd.Series(prices,index = ['january','february','march','april','may','june'])
s
#replaced the letters for months for graphical representation

january     850.00
february    856.83
march       900.68
april       842.02
may         810.50
june        725.62
dtype: float64

Or we can change the indices of an existing Series:

In [22]:
s.index = [6,5,4,3,2,1]
s
#reversed order

6    850.00
5    856.83
4    900.68
3    842.02
2    810.50
1    725.62
dtype: float64

Series is like a list since it can be sliced by index:

In [25]:
print(s[2:])
print(s[:-3])
#playing with the indexes

4    900.68
3    842.02
2    810.50
1    725.62
dtype: float64
6    850.00
5    856.83
4    900.68
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [28]:
print(s[3])
s[3] = 880.62
print(s)
#set s[3] to 880.62

842.02
6    850.00
5    856.83
4    900.62
3    880.62
2    810.50
1    725.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [31]:
s = pd.Series(prices, name = 'Apples in wallmart Price List')
print(s)
print(s.name)
#changed the name to reflect the actual conetent of the array we've been working with for the last 2 or 3 units(?)

0    850.00
1    856.83
2    900.68
3    842.02
4    810.50
5    725.62
Name: Apples in wallmart Price List, dtype: float64
Apples in wallmart Price List

We can get the statistical summaries of a Series:

In [33]:
print(s.describe())
#re-run

count      6.000000
mean     830.941667
std       59.211664
min      725.620000
25%      818.380000
50%      846.010000
75%      855.122500
max      900.680000
Name: Apples in wallmart Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [34]:
time_index = pd.date_range('2021-01-01',periods = len(s),freq = 'M')
print(time_index)
s.index = time_index
print(s)
#remember that we were tracking the MONTHLY price of apples at wallmart? well i changed the D to an M because our frequency is monthly, not daily

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30'],
              dtype='datetime64[ns]', freq='M')
2021-01-31    850.00
2021-02-28    856.83
2021-03-31    900.68
2021-04-30    842.02
2021-05-31    810.50
2021-06-30    725.62
Freq: M, Name: Apples in wallmart Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [35]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    850.00
5    856.83
4    900.68
3    842.02
2    810.50
1    725.62
Name: Apples in wallmart Price List, dtype: float64
725.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [37]:
print(s.iloc[3])

842.02

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [39]:
s.index = time_index
print(s['2021-04-30'])
#just check the dates in the previous excersise where we set them, called april because its my bith-month lmfao

842.02

We can even access to a range of dates:

In [42]:
print(s['2021-02-01':'2021-05-31'])
#let's leave january and june out of this

2021-02-28    856.83
2021-03-31    900.68
2021-04-30    842.02
2021-05-31    810.50
Freq: M, Name: Apples in wallmart Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [45]:
print(s[s < np.mean(s)] )
print([(s < np.mean(s)) & (s > np.mean(s) + 1.64*np.std(s))])
#changed the order of 'greater than' & 'lesser than' for demonstration purposes(?)

2021-05-31    810.50
2021-06-30    725.62
Freq: M, Name: Apples in wallmart Price List, dtype: float64
[2021-01-31    False
2021-02-28    False
2021-03-31    False
2021-04-30    False
2021-05-31    False
2021-06-30    False
Freq: M, Name: Apples in wallmart Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [46]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.3 MB 32.0 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=839b5ee25ae8dfd48d777bb9703d10e84453f63e16585521620d7a76cc5ddd17
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [47]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2020-01-01",  end="2021-12-31")
aapl_table

#let's at least update the dates, i guess if im getting into stocks ill have to do now, not 4 years ago

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.32867, 'profitMargins': 0.25882, 'grossMargins': 0.41779, 'operatingCashflow': 104037998592, 'revenueGrowth': 0.288, 'operatingMargins': 0.29782, 'ebitda': 120233000960, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 73295003648, 'targetMedianPrice': 170, 'currentPrice': 148.96, 'earningsGrowth': 0.662, 'currentRatio': 1.075, 'returnOnAssets': 0.20179, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 169.06, 'debtToEquity': 216.392, 'returnOnEquity': 1.47443, 'targetHighPrice': 190, 'totalCash': 62639001600, 'totalDebt': 136521998336, 'totalRevenue': 365817004032, 'totalCashPerShare': 3.818, 'financialCurrency': 'USD', 'revenuePerShare': 21.904, 'quickRatio': 0.91, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 6.92, 'beta3Year': None, 'enterpriseToEbitda': 21.055, '52WeekChange': 0.377218, 'morningStarRiskRating': None, 'forwardEps': 6.07, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.841, 'sharesShort': 100881318, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.58625, 'netIncomeToCommon': 94679998464, 'trailingEps': 5.61, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.39125264, 'priceToBook': 38.781567, 'heldPercentInsiders': 0.00071999995, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1632528000, 'shortRatio': 1.25, 'sharesShortPreviousMonthDate': 1631664000, 'floatShares': 16389334347, 'beta': 1.222222, 'enterpriseValue': 2531561308160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.622, 'priceToSalesTrailing12Months': 6.731066, 'dateShortInterest': 1634256000, 'pegRatio': 1.7, 'ytdReturn': None, 'forwardPE': 24.540363, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 100926641, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 149.8, 'regularMarketOpen': 148.985, 'twoHundredDayAverage': 140.12863, 'trailingAnnualDividendYield': 0.0056742323, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.7, 'navPrice': None, 'averageDailyVolume10Day': 75246133, 'regularMarketPreviousClose': 149.8, 'fiftyDayAverage': 145.59914, 'trailingAnnualDividendRate': 0.85, 'open': 148.985, 'toCurrency': None, 'averageVolume10days': 75246133, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1636070400, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 147.8, 'currency': 'USD', 'trailingPE': 26.552586, 'regularMarketVolume': 71261610, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2462338514944, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75359889, 'dayLow': 147.8, 'ask': 148.87, 'askSize': 1800, 'volume': 71261610, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.22, 'fiftyTwoWeekLow': 107.32, 'bid': 148.86, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 1000, 'dayHigh': 149.7, 'regularMarketPrice': 148.96, 'preMarketPrice': 148.86, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-02   73.082516   74.158134  ...        0.0           0.0
2020-01-03   73.307008   74.153188  ...        0.0           0.0
2020-01-06   72.478098   74.000235  ...        0.0           0.0
2020-01-07   73.970634   74.232135  ...        0.0           0.0
2020-01-08   73.309478   75.105456  ...        0.0           0.0
...                ...         ...  ...        ...           ...
2021-10-26  149.330002  150.839996  ...        0.0           0.0
2021-10-27  149.360001  149.729996  ...        0.0           0.0
2021-10-28  149.820007  153.169998  ...        0.0           0.0
2021-10-29  147.220001  149.940002  ...        0.0           0.0
2021-11-01  148.985001  149.699997  ...        0.0           0.0

[463 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [51]:
aapl = aapl_table['Close']['2020']
#update dates

In [ ]:
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850777
2017-12-28    40.965721
2017-12-29    40.522736
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [57]:
print(aapl['2020-3'])
#uupdate dates

Date
2020-03-02    73.891479
2020-03-03    71.544754
2020-03-04    74.863319
2020-03-05    72.434975
2020-03-06    71.473038
2020-03-09    65.820084
2020-03-10    70.560555
2020-03-11    68.109940
2020-03-12    61.383770
2020-03-13    68.738052
2020-03-16    59.895103
2020-03-17    62.528694
2020-03-18    60.998001
2020-03-19    60.530632
2020-03-20    56.687809
2020-03-23    55.483528
2020-03-24    61.049934
2020-03-25    60.713623
2020-03-26    63.908558
2020-03-27    61.262596
2020-03-30    63.010902
2020-03-31    62.882320
Name: Close, dtype: float64

In [59]:
aapl['2020-1':'2020-8']
#i guess yfinance really doesn't like 2021 so 2020 will do

Date
2020-01-02     74.096458
2020-01-03     73.376083
2020-01-06     73.960762
2020-01-07     73.612923
2020-01-08     74.797081
                 ...
2020-08-25    124.027275
2020-08-26    125.713928
2020-08-27    124.211090
2020-08-28    124.009895
2020-08-31    128.215347
Name: Close, Length: 168, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [61]:
print(aapl.head(5))
print(aapl.tail(10))
#re-run

Date
2020-01-02    74.096458
2020-01-03    73.376083
2020-01-06    73.960762
2020-01-07    73.612923
2020-01-08    74.797081
Name: Close, dtype: float64
Date
2020-12-17    128.098129
2020-12-18    126.067680
2020-12-21    127.630333
2020-12-22    131.263260
2020-12-23    130.347580
2020-12-24    131.352829
2020-12-28    136.050766
2020-12-29    134.239273
2020-12-30    133.094650
2020-12-31    132.069473
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [63]:
by_month = aapl.resample('M').mean()
print(by_month)
#re-run

Date
2020-01-31     76.949835
2020-02-29     76.933534
2020-03-31     64.898712
2020-04-30     67.357251
2020-05-31     76.812859
2020-06-30     85.744506
2020-07-31     94.784615
2020-08-31    116.512445
2020-09-30    114.389504
2020-10-31    115.669217
2020-11-30    116.240819
2020-12-31    126.695181
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [67]:
by_year = aapl.resample('Y').mean()
print(by_year.head())
#changed week to year to demonstrate i actually understand what's going on

Date
2020-12-31    94.599326
Freq: A-DEC, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [68]:
aapl.resample('M').max()
#re-run

Date
2020-01-31     80.014793
2020-02-29     80.911942
2020-03-31     74.863319
2020-04-30     72.652573
2020-05-31     79.154762
2020-06-30     90.883041
2020-07-31    105.390915
2020-08-31    128.215347
2020-09-30    133.322479
2020-10-31    123.604996
2020-11-30    119.737419
2020-12-31    136.050766
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [70]:
three_day = aapl.resample('8D').mean() #8days or 1 week, depends on u see it
two_week = aapl.resample('2W').mean() #2 weeks
two_month = aapl.resample('2Y').mean() #2 years


print(three_day)
print(two_week)
print(two_month )
#okay I KNOW WHAT IS GOING ON

Date
2020-01-02     74.371524
2020-01-10     77.516539
2020-01-18     78.438997
2020-01-26     78.172435
2020-02-03     78.831978
2020-02-11     79.904494
2020-02-19     75.664519
2020-02-27     71.328369
2020-03-06     67.680906
2020-03-14     60.128048
2020-03-22     60.483648
2020-03-30     61.772828
2020-04-07     66.954623
2020-04-15     69.047155
2020-04-23     70.117081
2020-05-01     73.985023
2020-05-09     76.931587
2020-05-17     78.506110
2020-05-25     78.992589
2020-06-02     81.814075
2020-06-10     85.718132
2020-06-18     88.922953
2020-06-26     89.681946
2020-07-04     93.955206
2020-07-12     95.831731
2020-07-20     94.702375
2020-07-28    100.726865
2020-08-05    110.917749
2020-08-13    114.939067
2020-08-21    124.431758
2020-08-29    126.478510
2020-09-06    113.179550
2020-09-14    111.001060
2020-09-22    110.701321
2020-09-30    114.324688
2020-10-08    119.123815
2020-10-16    115.949233
2020-10-24    112.681248
2020-11-01    113.685744
2020-11-09    117.871187
2020-11-17    116.522522
2020-11-25    118.935187
2020-12-03    122.481194
2020-12-11    125.284687
2020-12-19    130.148500
2020-12-27    133.863541
Freq: 8D, Name: Close, dtype: float64
Date
2020-01-05     73.736271
2020-01-19     76.385583
2020-02-02     78.290907
2020-02-16     79.363015
2020-03-01     74.234110
2020-03-15     69.881997
2020-03-29     60.305848
2020-04-12     62.983980
2020-04-26     69.082269
2020-05-10     72.662712
2020-05-24     77.718848
2020-06-07     79.763346
2020-06-21     85.621428
2020-07-05     89.779916
2020-07-19     94.893468
2020-08-02     95.576088
2020-08-16    111.076922
2020-08-30    120.777678
2020-09-13    120.567861
2020-09-27    110.262809
2020-10-11    114.399206
2020-10-25    117.998055
2020-11-08    113.183496
2020-11-22    117.841326
2020-12-06    118.518700
2020-12-20    124.255191
2021-01-03    132.006021
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2020-12-31    94.599326
Freq: 2A-DEC, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [72]:
std = aapl.resample('Y').std()
max = aapl.resample('Y').max()
min = aapl.resample('Y').min()


print(std)
print(max)
print(min)
#we are playing with the data, next!

Date
2020-12-31    21.851513
Freq: A-DEC, Name: Close, dtype: float64
Date
2020-12-31    136.050766
Freq: A-DEC, Name: Close, dtype: float64
Date
2020-12-31    55.483528
Freq: A-DEC, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [74]:
last_day = aapl.resample('W').agg(lambda x: x[-1])
print(last_day)
#re-run so its 2020 now, oh, and its weekly

Date
2020-01-05     73.376083
2020-01-12     76.558510
2020-01-19     78.630806
2020-01-26     78.527191
2020-02-02     76.356232
2020-02-09     79.138893
2020-02-16     80.355545
2020-02-23     77.412834
2020-03-01     67.598061
2020-03-08     71.473038
2020-03-15     68.738052
2020-03-22     56.687809
2020-03-29     61.262596
2020-04-05     59.697281
2020-04-12     66.270134
2020-04-19     69.932434
2020-04-26     69.974472
2020-05-03     71.482925
2020-05-10     76.898361
2020-05-17     76.298317
2020-05-24     79.070457
2020-05-31     78.834892
2020-06-07     82.197166
2020-06-14     84.007240
2020-06-21     86.714905
2020-06-28     87.684425
2020-07-05     90.282982
2020-07-12     95.135475
2020-07-19     95.539642
2020-07-26     91.857506
2020-08-02    105.390915
2020-08-09    110.402412
2020-08-16    114.173164
2020-08-23    123.575180
2020-08-30    124.009895
2020-09-06    120.186981
2020-09-13    111.284241
2020-09-20    106.157219
2020-09-27    111.562447
2020-10-04    112.297722
2020-10-11    116.222473
2020-10-18    118.259369
2020-10-25    114.304810
2020-11-01    108.164314
2020-11-08    118.134949
2020-11-15    118.702286
2020-11-22    116.791260
2020-11-29    116.044762
2020-12-06    121.678299
2020-12-13    121.837555
2020-12-20    126.067680
2020-12-27    131.352829
2021-01-03    132.069473
Freq: W-SUN, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [78]:
week_return = aapl.resample('W').agg(lambda x: x[-1]/x[0] - 1)
print(week_return)
#re-run but there's no changes, except for the dates and oh, its weely, so i guess there's changes

Date
2020-01-05   -0.009722
2020-01-12    0.035123
2020-01-19    0.005584
2020-01-26    0.005496
2020-02-02    0.001813
2020-02-09    0.039297
2020-02-16    0.010574
2020-02-23   -0.018652
2020-03-01   -0.083238
2020-03-08   -0.032730
2020-03-15    0.044332
2020-03-22   -0.053549
2020-03-29    0.104158
2020-04-05   -0.052588
2020-04-12    0.021031
2020-04-19    0.034950
2020-04-26    0.021811
2020-05-03    0.020836
2020-05-10    0.060750
2020-05-17   -0.023174
2020-05-24    0.012478
2020-05-31    0.003820
2020-06-07    0.029983
2020-06-14    0.016014
2020-06-21    0.019621
2020-06-28   -0.014601
2020-07-05    0.006440
2020-07-12    0.026294
2020-07-19    0.008903
2020-07-26   -0.058384
2020-08-02    0.120768
2020-08-09    0.021805
2020-08-16    0.019339
2020-08-23    0.085182
2020-08-30   -0.008343
2020-09-06   -0.062616
2020-09-13   -0.007268
2020-09-20   -0.073856
2020-09-27    0.019985
2020-10-04   -0.016875
2020-10-11    0.004034
2020-10-18   -0.043248
2020-10-25   -0.008105
2020-11-01   -0.053803
2020-11-08    0.093084
2020-11-15    0.025275
2020-11-22   -0.024605
2020-11-29    0.024067
2020-12-06    0.026879
2020-12-13   -0.010828
2020-12-20    0.040072
2020-12-27    0.029166
2021-01-03   -0.029263
Freq: W-SUN, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [79]:
print(week_return.mean())
print(week_return.std())
print(week_return.max())
#weeeeee channngeeed the name of the arrayyyy

0.0066701597530294966
0.04224288551494477
0.12076814388621115

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [80]:
print(last_day.diff())
print(last_day.pct_change())

Date
2020-01-05          NaN
2020-01-12     3.182426
2020-01-19     2.072296
2020-01-26    -0.103615
2020-02-02    -2.170959
2020-02-09     2.782661
2020-02-16     1.216652
2020-02-23    -2.942711
2020-03-01    -9.814774
2020-03-08     3.874977
2020-03-15    -2.734985
2020-03-22   -12.050243
2020-03-29     4.574787
2020-04-05    -1.565315
2020-04-12     6.572853
2020-04-19     3.662300
2020-04-26     0.042038
2020-05-03     1.508453
2020-05-10     5.415436
2020-05-17    -0.600044
2020-05-24     2.772141
2020-05-31    -0.235565
2020-06-07     3.362274
2020-06-14     1.810074
2020-06-21     2.707664
2020-06-28     0.969521
2020-07-05     2.598557
2020-07-12     4.852493
2020-07-19     0.404167
2020-07-26    -3.682137
2020-08-02    13.533409
2020-08-09     5.011497
2020-08-16     3.770752
2020-08-23     9.402016
2020-08-30     0.434715
2020-09-06    -3.822914
2020-09-13    -8.902740
2020-09-20    -5.127022
2020-09-27     5.405228
2020-10-04     0.735275
2020-10-11     3.924751
2020-10-18     2.036896
2020-10-25    -3.954559
2020-11-01    -6.140495
2020-11-08     9.970634
2020-11-15     0.567337
2020-11-22    -1.911026
2020-11-29    -0.746498
2020-12-06     5.633537
2020-12-13     0.159256
2020-12-20     4.230125
2020-12-27     5.285149
2021-01-03     0.716644
Freq: W-SUN, Name: Close, dtype: float64
Date
2020-01-05         NaN
2020-01-12    0.043371
2020-01-19    0.027068
2020-01-26   -0.001318
2020-02-02   -0.027646
2020-02-09    0.036443
2020-02-16    0.015374
2020-02-23   -0.036621
2020-03-01   -0.126785
2020-03-08    0.057324
2020-03-15   -0.038266
2020-03-22   -0.175307
2020-03-29    0.080701
2020-04-05   -0.025551
2020-04-12    0.110103
2020-04-19    0.055263
2020-04-26    0.000601
2020-05-03    0.021557
2020-05-10    0.075758
2020-05-17   -0.007803
2020-05-24    0.036333
2020-05-31   -0.002979
2020-06-07    0.042650
2020-06-14    0.022021
2020-06-21    0.032231
2020-06-28    0.011181
2020-07-05    0.029635
2020-07-12    0.053748
2020-07-19    0.004248
2020-07-26   -0.038540
2020-08-02    0.147330
2020-08-09    0.047552
2020-08-16    0.034155
2020-08-23    0.082349
2020-08-30    0.003518
2020-09-06   -0.030827
2020-09-13   -0.074074
2020-09-20   -0.046071
2020-09-27    0.050917
2020-10-04    0.006591
2020-10-11    0.034950
2020-10-18    0.017526
2020-10-25   -0.033440
2020-11-01   -0.053720
2020-11-08    0.092180
2020-11-15    0.004802
2020-11-22   -0.016099
2020-11-29   -0.006392
2020-12-06    0.048546
2020-12-13    0.001309
2020-12-20    0.034719
2020-12-27    0.041923
2021-01-03    0.005456
Freq: W-SUN, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [84]:
day_return = last_day.pct_change()
print(day_return.fillna(0))

Date
2020-01-05    0.000000
2020-01-12    0.043371
2020-01-19    0.027068
2020-01-26   -0.001318
2020-02-02   -0.027646
2020-02-09    0.036443
2020-02-16    0.015374
2020-02-23   -0.036621
2020-03-01   -0.126785
2020-03-08    0.057324
2020-03-15   -0.038266
2020-03-22   -0.175307
2020-03-29    0.080701
2020-04-05   -0.025551
2020-04-12    0.110103
2020-04-19    0.055263
2020-04-26    0.000601
2020-05-03    0.021557
2020-05-10    0.075758
2020-05-17   -0.007803
2020-05-24    0.036333
2020-05-31   -0.002979
2020-06-07    0.042650
2020-06-14    0.022021
2020-06-21    0.032231
2020-06-28    0.011181
2020-07-05    0.029635
2020-07-12    0.053748
2020-07-19    0.004248
2020-07-26   -0.038540
2020-08-02    0.147330
2020-08-09    0.047552
2020-08-16    0.034155
2020-08-23    0.082349
2020-08-30    0.003518
2020-09-06   -0.030827
2020-09-13   -0.074074
2020-09-20   -0.046071
2020-09-27    0.050917
2020-10-04    0.006591
2020-10-11    0.034950
2020-10-18    0.017526
2020-10-25   -0.033440
2020-11-01   -0.053720
2020-11-08    0.092180
2020-11-15    0.004802
2020-11-22   -0.016099
2020-11-29   -0.006392
2020-12-06    0.048546
2020-12-13    0.001309
2020-12-20    0.034719
2020-12-27    0.041923
2021-01-03    0.005456
Freq: W-SUN, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [85]:
day_return = last_day.pct_change()
print(day_return.fillna(method = 'bfill'))

Date
2020-01-05    0.043371
2020-01-12    0.043371
2020-01-19    0.027068
2020-01-26   -0.001318
2020-02-02   -0.027646
2020-02-09    0.036443
2020-02-16    0.015374
2020-02-23   -0.036621
2020-03-01   -0.126785
2020-03-08    0.057324
2020-03-15   -0.038266
2020-03-22   -0.175307
2020-03-29    0.080701
2020-04-05   -0.025551
2020-04-12    0.110103
2020-04-19    0.055263
2020-04-26    0.000601
2020-05-03    0.021557
2020-05-10    0.075758
2020-05-17   -0.007803
2020-05-24    0.036333
2020-05-31   -0.002979
2020-06-07    0.042650
2020-06-14    0.022021
2020-06-21    0.032231
2020-06-28    0.011181
2020-07-05    0.029635
2020-07-12    0.053748
2020-07-19    0.004248
2020-07-26   -0.038540
2020-08-02    0.147330
2020-08-09    0.047552
2020-08-16    0.034155
2020-08-23    0.082349
2020-08-30    0.003518
2020-09-06   -0.030827
2020-09-13   -0.074074
2020-09-20   -0.046071
2020-09-27    0.050917
2020-10-04    0.006591
2020-10-11    0.034950
2020-10-18    0.017526
2020-10-25   -0.033440
2020-11-01   -0.053720
2020-11-08    0.092180
2020-11-15    0.004802
2020-11-22   -0.016099
2020-11-29   -0.006392
2020-12-06    0.048546
2020-12-13    0.001309
2020-12-20    0.034719
2020-12-27    0.041923
2021-01-03    0.005456
Freq: W-SUN, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [87]:
day_return = last_day.pct_change()
day_return.dropna()
#ok, although i get what's going on, these last examples just have to be re-ran, i mean they are just showing us how to use certain filling methods so re-running them only updates dates and applies the fill

Date
2020-01-12    0.043371
2020-01-19    0.027068
2020-01-26   -0.001318
2020-02-02   -0.027646
2020-02-09    0.036443
2020-02-16    0.015374
2020-02-23   -0.036621
2020-03-01   -0.126785
2020-03-08    0.057324
2020-03-15   -0.038266
2020-03-22   -0.175307
2020-03-29    0.080701
2020-04-05   -0.025551
2020-04-12    0.110103
2020-04-19    0.055263
2020-04-26    0.000601
2020-05-03    0.021557
2020-05-10    0.075758
2020-05-17   -0.007803
2020-05-24    0.036333
2020-05-31   -0.002979
2020-06-07    0.042650
2020-06-14    0.022021
2020-06-21    0.032231
2020-06-28    0.011181
2020-07-05    0.029635
2020-07-12    0.053748
2020-07-19    0.004248
2020-07-26   -0.038540
2020-08-02    0.147330
2020-08-09    0.047552
2020-08-16    0.034155
2020-08-23    0.082349
2020-08-30    0.003518
2020-09-06   -0.030827
2020-09-13   -0.074074
2020-09-20   -0.046071
2020-09-27    0.050917
2020-10-04    0.006591
2020-10-11    0.034950
2020-10-18    0.017526
2020-10-25   -0.033440
2020-11-01   -0.053720
2020-11-08    0.092180
2020-11-15    0.004802
2020-11-22   -0.016099
2020-11-29   -0.006392
2020-12-06    0.048546
2020-12-13    0.001309
2020-12-20    0.034719
2020-12-27    0.041923
2021-01-03    0.005456
Freq: W-SUN, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [90]:
df = aapl_table
print(df.Close.tail(10))
print(df['Volume'].tail(10))
#let's just make it longer so we can say we changed something

Date
2021-10-19    148.759995
2021-10-20    149.259995
2021-10-21    149.479996
2021-10-22    148.690002
2021-10-25    148.639999
2021-10-26    149.320007
2021-10-27    148.850006
2021-10-28    152.570007
2021-10-29    149.800003
2021-11-01    148.960007
Name: Close, dtype: float64
Date
2021-10-19     76378900
2021-10-20     58418800
2021-10-21     61421000
2021-10-22     58883400
2021-10-25     50720600
2021-10-26     60893400
2021-10-27     56094900
2021-10-28    100077900
2021-10-29    124850400
2021-11-01     71261610
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [91]:
aapl_2016 = df['2021']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2021-01-31  135.194777  136.100525  ...        0.0           0.0
2021-02-28  122.199036  124.451831  ...        0.0           0.0
2021-03-31  121.262039  123.126071  ...        0.0           0.0
2021-04-30  131.359728  133.134050  ...        0.0           0.0
2021-05-31  125.382147  125.611806  ...        0.0           0.0
2021-06-30  135.966285  137.204435  ...        0.0           0.0
2021-07-31  144.164003  146.111083  ...        0.0           0.0
2021-08-31  152.660004  152.800003  ...        0.0           0.0
2021-09-30  143.660004  144.380005  ...        0.0           0.0
2021-10-31  147.220001  149.940002  ...        0.0           0.0
2021-11-30  148.985001  149.699997  ...        0.0           0.0

[11 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [95]:
aapl_bar = aapl_month[['Open', 'Close']]
print(aapl_bar)
#just open and close, to show that i know what this example is doing

                  Open       Close
Date
2021-01-31  135.194777  131.342880
2021-02-28  122.199036  120.873283
2021-03-31  121.262039  121.760445
2021-04-30  131.359728  131.040756
2021-05-31  125.382147  124.423584
2021-06-30  135.966285  136.755112
2021-07-31  144.164003  145.641785
2021-08-31  152.660004  151.830002
2021-09-30  143.660004  141.500000
2021-10-31  147.220001  149.800003
2021-11-30  148.985001  148.960007

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [99]:
print(aapl_month.loc['2021-03':'2021-06',['Open', 'Close']])
#smaller and from 2021-03 to 2021-06

                  Open       Close
Date
2021-03-31  121.262039  121.760445
2021-04-30  131.359728  131.040756
2021-05-31  125.382147  124.423584
2021-06-30  135.966285  136.755112

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [101]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)
#re-run

                  Open       Close
Date
2021-06-30  135.966285  136.755112
2021-07-31  144.164003  145.641785
2021-08-31  152.660004  151.830002
2021-09-30  143.660004  141.500000
2021-10-31  147.220001  149.800003
2021-11-30  148.985001  148.960007

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [103]:
aapl_bar['low'] = aapl_bar.Close.pct_change()
print(aapl_bar)
#added rate_return and low

                  Open       Close  rate_return       low
Date
2021-01-31  135.194777  131.342880          NaN       NaN
2021-02-28  122.199036  120.873283    -0.079712 -0.079712
2021-03-31  121.262039  121.760445     0.007340  0.007340
2021-04-30  131.359728  131.040756     0.076218  0.076218
2021-05-31  125.382147  124.423584    -0.050497 -0.050497
2021-06-30  135.966285  136.755112     0.099109  0.099109
2021-07-31  144.164003  145.641785     0.064982  0.064982
2021-08-31  152.660004  151.830002     0.042489  0.042489
2021-09-30  143.660004  141.500000    -0.068037 -0.068037
2021-10-31  147.220001  149.800003     0.058657  0.058657
2021-11-30  148.985001  148.960007    -0.005607 -0.005607

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [105]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())
#omg ther'es no data for the month that literally just started today!!! SO ABNORMALLL!!!!!1!

             Open  Close  rate_return    low
Date
2021-01-31  False  False         True   True
2021-02-28  False  False        False  False
2021-03-31  False  False        False  False
2021-04-30  False  False        False  False
2021-05-31  False  False        False  False
2021-06-30  False  False        False  False
2021-07-31  False  False        False  False
2021-08-31  False  False        False  False
2021-09-30  False  False        False  False
2021-10-31  False  False        False  False
2021-11-30  False  False        False  False
---------------------------------------------
         Open  Close rate_return    low
count      11     11          11     11
unique      1      1           2      2
top     False  False       False  False
freq       11     11          10     10

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [109]:
print(missing[missing.rate_return == False])
#true to false

             Open  Close  rate_return    low
Date
2021-02-28  False  False        False  False
2021-03-31  False  False        False  False
2021-04-30  False  False        False  False
2021-05-31  False  False        False  False
2021-06-30  False  False        False  False
2021-07-31  False  False        False  False
2021-08-31  False  False        False  False
2021-09-30  False  False        False  False
2021-10-31  False  False        False  False
2021-11-30  False  False        False  False

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [110]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)
#re-run

                  Open       Close  rate_return       low
Date
2021-02-28  122.199036  120.873283    -0.079712 -0.079712
2021-03-31  121.262039  121.760445     0.007340  0.007340
2021-04-30  131.359728  131.040756     0.076218  0.076218
2021-05-31  125.382147  124.423584    -0.050497 -0.050497
2021-06-30  135.966285  136.755112     0.099109  0.099109
2021-07-31  144.164003  145.641785     0.064982  0.064982
2021-08-31  152.660004  151.830002     0.042489  0.042489
2021-09-30  143.660004  141.500000    -0.068037 -0.068037
2021-10-31  147.220001  149.800003     0.058657  0.058657
2021-11-30  148.985001  148.960007    -0.005607 -0.005607

--------------------------------------------------

                  Open       Close  rate_return       low
Date
2021-01-31  135.194777  131.342880     0.000000  0.000000
2021-02-28  122.199036  120.873283    -0.079712 -0.079712
2021-03-31  121.262039  121.760445     0.007340  0.007340
2021-04-30  131.359728  131.040756     0.076218  0.076218
2021-05-31  125.382147  124.423584    -0.050497 -0.050497
2021-06-30  135.966285  136.755112     0.099109  0.099109
2021-07-31  144.164003  145.641785     0.064982  0.064982
2021-08-31  152.660004  151.830002     0.042489  0.042489
2021-09-30  143.660004  141.500000    -0.068037 -0.068037
2021-10-31  147.220001  149.800003     0.058657  0.058657
2021-11-30  148.985001  148.960007    -0.005607 -0.005607

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [111]:
#SO, GOING BACK TO THE WALLMART FRUIT PRICE EXAMPLES
s1 = pd.Series([850.0, 856.83, 900.68, 842.02, 810.5, 725.62], name = 'apples')
s2 = pd.Series([4000.0, 4400.83, 3980.68, 3500.02, 3800.5, 3200.62], name = 'avocados')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

   apples  avocados
0  850.00   4000.00
1  856.83   4400.83
2  900.68   3980.68
3  842.02   3500.02
4  810.50   3800.50
5  725.62   3200.62

The "axis = 1" parameter will join two DataFrames by columns:

In [113]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)
#update the dates (re-run)

Date
2021-01-31    4.877811
2021-02-28    4.794743
2021-03-31    4.802056
2021-04-30    4.875508
2021-05-31    4.823692
2021-06-30    4.918192
2021-07-31    4.981150
2021-08-31    5.022761
2021-09-30    4.952300
2021-10-31    5.009301
2021-11-30    5.003678
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open       Close  rate_return       low  log_price
Date
2021-01-31  135.194777  131.342880          NaN       NaN   4.877811
2021-02-28  122.199036  120.873283    -0.079712 -0.079712   4.794743
2021-03-31  121.262039  121.760445     0.007340  0.007340   4.802056
2021-04-30  131.359728  131.040756     0.076218  0.076218   4.875508
2021-05-31  125.382147  124.423584    -0.050497 -0.050497   4.823692
2021-06-30  135.966285  136.755112     0.099109  0.099109   4.918192
2021-07-31  144.164003  145.641785     0.064982  0.064982   4.981150
2021-08-31  152.660004  151.830002     0.042489  0.042489   5.022761
2021-09-30  143.660004  141.500000    -0.068037 -0.068037   4.952300
2021-10-31  147.220001  149.800003     0.058657  0.058657   5.009301
2021-11-30  148.985001  148.960007    -0.005607 -0.005607   5.003678

We can also join two DataFrames by rows. Consider these two DataFrames:

In [116]:
df_volume = aapl_table.loc['2020-10':'2021-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2020-10':'2021-04',['Open','Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)
#updated the dates on the functions an only left open and close prices between certain dates from 2020 to 2021

               Volume  Stock Splits
Date
2020-10-31  190272600           0.0
2020-11-30  169410200           0.0
2020-12-31   99116600           0.0
2021-01-31  177523800           0.0
2021-02-28  164560400           0.0
2021-03-31  118323800           0.0
2021-04-30  109839500           0.0

---------------------- separate line--------------------

                  Open       Close
Date
2020-10-31  110.350252  108.164314
2020-11-30  116.422989  118.493263
2020-12-31  133.452972  132.069473
2021-01-31  135.194777  131.342880
2021-02-28  122.199036  120.873283
2021-03-31  121.262039  121.760445
2021-04-30  131.359728  131.040756

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [118]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)
#concatenated, re-run

                  Open       Close  ...       Volume  Stock Splits
Date                                ...
2020-10-31         NaN         NaN  ...  190272600.0           0.0
2020-11-30         NaN         NaN  ...  169410200.0           0.0
2020-12-31         NaN         NaN  ...   99116600.0           0.0
2021-01-31  135.194777  131.342880  ...  177523800.0           0.0
2021-02-28  122.199036  120.873283  ...  164560400.0           0.0
2021-03-31  121.262039  121.760445  ...  118323800.0           0.0
2021-04-30  131.359728  131.040756  ...  109839500.0           0.0
2021-05-31  125.382147  124.423584  ...          NaN           NaN
2021-06-30  135.966285  136.755112  ...          NaN           NaN
2021-07-31  144.164003  145.641785  ...          NaN           NaN
2021-08-31  152.660004  151.830002  ...          NaN           NaN
2021-09-30  143.660004  141.500000  ...          NaN           NaN
2021-10-31  147.220001  149.800003  ...          NaN           NaN
2021-11-30  148.985001  148.960007  ...          NaN           NaN

[14 rows x 6 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [121]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'outer')
print(concat)
#changed inner to outer join

                  Open       Close  ...       Volume  Stock Splits
Date                                ...
2020-10-31         NaN         NaN  ...  190272600.0           0.0
2020-11-30         NaN         NaN  ...  169410200.0           0.0
2020-12-31         NaN         NaN  ...   99116600.0           0.0
2021-01-31  135.194777  131.342880  ...  177523800.0           0.0
2021-02-28  122.199036  120.873283  ...  164560400.0           0.0
2021-03-31  121.262039  121.760445  ...  118323800.0           0.0
2021-04-30  131.359728  131.040756  ...  109839500.0           0.0
2021-05-31  125.382147  124.423584  ...          NaN           NaN
2021-06-30  135.966285  136.755112  ...          NaN           NaN
2021-07-31  144.164003  145.641785  ...          NaN           NaN
2021-08-31  152.660004  151.830002  ...          NaN           NaN
2021-09-30  143.660004  141.500000  ...          NaN           NaN
2021-10-31  147.220001  149.800003  ...          NaN           NaN
2021-11-30  148.985001  148.960007  ...          NaN           NaN

[14 rows x 6 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [123]:
append = aapl_bar.append(df_2017)
print(append)
#re-run to apply the outer join

                  Open       Close  rate_return       low
Date
2021-01-31  135.194777  131.342880          NaN       NaN
2021-02-28  122.199036  120.873283    -0.079712 -0.079712
2021-03-31  121.262039  121.760445     0.007340  0.007340
2021-04-30  131.359728  131.040756     0.076218  0.076218
2021-05-31  125.382147  124.423584    -0.050497 -0.050497
2021-06-30  135.966285  136.755112     0.099109  0.099109
2021-07-31  144.164003  145.641785     0.064982  0.064982
2021-08-31  152.660004  151.830002     0.042489  0.042489
2021-09-30  143.660004  141.500000    -0.068037 -0.068037
2021-10-31  147.220001  149.800003     0.058657  0.058657
2021-11-30  148.985001  148.960007    -0.005607 -0.005607
2020-10-31  110.350252  108.164314          NaN       NaN
2020-11-30  116.422989  118.493263          NaN       NaN
2020-12-31  133.452972  132.069473          NaN       NaN
2021-01-31  135.194777  131.342880          NaN       NaN
2021-02-28  122.199036  120.873283          NaN       NaN
2021-03-31  121.262039  121.760445          NaN       NaN
2021-04-30  131.359728  131.040756          NaN       NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [124]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)
#re-run

                  Open       Close  rate_return       low
Date
2021-01-31  135.194777  131.342880          NaN       NaN
2021-02-28  122.199036  120.873283    -0.079712 -0.079712
2021-03-31  121.262039  121.760445     0.007340  0.007340
2021-04-30  131.359728  131.040756     0.076218  0.076218
2021-05-31  125.382147  124.423584    -0.050497 -0.050497
2021-06-30  135.966285  136.755112     0.099109  0.099109
2021-07-31  144.164003  145.641785     0.064982  0.064982
2021-08-31  152.660004  151.830002     0.042489  0.042489
2021-09-30  143.660004  141.500000    -0.068037 -0.068037
2021-10-31  147.220001  149.800003     0.058657  0.058657
2021-11-30  148.985001  148.960007    -0.005607 -0.005607
2020-10-31  110.350252  108.164314          NaN       NaN
2020-11-30  116.422989  118.493263          NaN       NaN
2020-12-31  133.452972  132.069473          NaN       NaN
2021-01-31  135.194777  131.342880          NaN       NaN
2021-02-28  122.199036  120.873283          NaN       NaN
2021-03-31  121.262039  121.760445          NaN       NaN
2021-04-30  131.359728  131.040756          NaN       NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [128]:
df_2017.columns = ['Change','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)
#change and close, the function expects 2 axes and because the example was returning 4, i deleted 2

                  Open       Close  rate_return       low      Change
Date
2021-01-31  135.194777  131.342880          NaN       NaN         NaN
2021-02-28  122.199036  120.873283    -0.079712 -0.079712         NaN
2021-03-31  121.262039  121.760445     0.007340  0.007340         NaN
2021-04-30  131.359728  131.040756     0.076218  0.076218         NaN
2021-05-31  125.382147  124.423584    -0.050497 -0.050497         NaN
2021-06-30  135.966285  136.755112     0.099109  0.099109         NaN
2021-07-31  144.164003  145.641785     0.064982  0.064982         NaN
2021-08-31  152.660004  151.830002     0.042489  0.042489         NaN
2021-09-30  143.660004  141.500000    -0.068037 -0.068037         NaN
2021-10-31  147.220001  149.800003     0.058657  0.058657         NaN
2021-11-30  148.985001  148.960007    -0.005607 -0.005607         NaN
2020-10-31         NaN  108.164314          NaN       NaN  110.350252
2020-11-30         NaN  118.493263          NaN       NaN  116.422989
2020-12-31         NaN  132.069473          NaN       NaN  133.452972
2021-01-31         NaN  131.342880          NaN       NaN  135.194777
2021-02-28         NaN  120.873283          NaN       NaN  122.199036
2021-03-31         NaN  121.760445          NaN       NaN  121.262039
2021-04-30         NaN  131.040756          NaN       NaN  131.359728

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.